{:company/legal-name "Bright Horizons Family Solutions Inc."
 :company/lei "2549009BKSVTM7UEYT38"
 :company/jurisdiction "US-MA"
 :company/website "https://www.brighthorizons.com"
 :company/ticker "BFAM (NYSE)"
 :company/inquiry-form-url "https://www.brighthorizons.com/get-in-touch"}
