[["brighthorizons-tos-1" :tos/full-text "Terms of Use | Bright Horizons® 

 Skip Navigation

 Skip to Footer

 Contact Us 

 hamburger-line

 hamburger-line

 hamburger-line

 Contact Us

 Our Solutions 

 See All Solutions 

 For Parents 

 Early Education & Preschool 

 Early Education & Preschool 

 Overview 

 Infant Care 
 Toddler Care & Education 
 Preschool 
 Kindergarten Prep 
 Kindergarten 
 Our Curriculum 

 For Employers 

 Bright Horizons Family Solutions 

 Bright Horizons Family Solutions 

 Overview 

 Back-Up Care 
 On-Site Child Care 
 College Coach 
 Care Advising 
 Enhanced Family Supports 
 Family Concierge 
 Global Services 
 Tuition Subsidies 

 EdAssist by Bright Horizons 

 EdAssist by Bright Horizons 

 Overview 

 Employee Education Solutions 

 Workforce Consulting 

 Workforce Consulting 

 Overview 

 Featured Industry: Healthcare 

 Featured Industry: Healthcare 

 Overview 

 Brokers and Consultants 

 Who We Are 

 Who We Are 

 About Us

 Values

 Culture & Inclusion

 History

 Leadership

 Awards

 Foundation

 News

 Responsibility

 Resources 

 Log In

 Search

 Find a Center 

 Find a Center

 Contact Us

 Log In 

 Search Bright Horizons 

 Search 

 hamburger-line

 hamburger-line

 Navigate to your portal 
 Select a path to log in to your desired Bright Horizons website. 

 Child Care Center 
 Access your day-to-day childcare activities and communications through the Family Information Center. 

 Employee Benefits 
 Access your employer-sponsored benefits such as Back-Up Care, EdAssist, and more. 

 Contact Us 

 hamburger-line

 hamburger-line

 hamburger-line

 Contact Us

 Our Solutions 

 See All Solutions 

 For Parents 

 Early Education & Preschool 

 Early Education & Preschool 

 Overview 

 Infant Care 
 Toddler Care & Education 
 Preschool 
 Kindergarten Prep 
 Kindergarten 
 Our Curriculum 

 For Employers 

 Bright Horizons Family Solutions 

 Bright Horizons Family Solutions 

 Overview 

 Back-Up Care 
 On-Site Child Care 
 College Coach 
 Care Advising 
 Enhanced Family Supports 
 Family Concierge 
 Global Services 
 Tuition Subsidies 

 EdAssist by Bright Horizons 

 EdAssist by Bright Horizons 

 Overview 

 Employee Education Solutions 

 Workforce Consulting 

 Workforce Consulting 

 Overview 

 Featured Industry: Healthcare 

 Featured Industry: Healthcare 

 Overview 

 Brokers and Consultants 

 Who We Are 

 Who We Are 

 About Us

 Values

 Culture & Inclusion

 History

 Leadership

 Awards

 Foundation

 News

 Responsibility

 Resources 

 Log In

 Search

 Find a Center 

 Find a Center

 Contact Us

 Log In 

 Search Bright Horizons 

 Search 

 hamburger-line

 hamburger-line

 Navigate to your portal 
 Select a path to log in to your desired Bright Horizons website. 

 Child Care Center. 
 Access your day-to-day childcare activities and communications through the Family Information Center. 

 Employee Benefits 
 Access your employer-sponsored benefits such as Back-Up Care, EdAssist, and more. 

 Find a Center 
 Locate our child care centers, preschools, and schools near you 

 Within 10 Miles 
 Within 30 Miles 
 Within 50 Miles 

 Search

 Need to make a reservation to use your Bright Horizons Back-Up Care? 

 Log in to Schedule Backup Care

 I'm interested in 
 Looking for a child care center 
 Accessing my benefits 
 Providing benefits for employees 
 Joining the Bright Horizons Team 
 Contact Support 

 Acceptable Use Policy

All material displayed on this Internet site, including text, graphics, videos, photos, trademarks, logos and other materials (collectively “Content”) is owned or controlled by Bright Horizons Family Solutions LLC and is protected by worldwide trademark and copyright laws. You can find a list of our trademarks here .

You may download Content only for your personal, non-commercial use. All other use, transmission, presentation, distribution, reproduction or modification of the Content is prohibited without the express written permission of Bright Horizons.

Bright Horizons will use reasonable efforts to include up-to-date, accurate information on this Internet site. Any information provided on this site is not a replacement for professional advice and should only be used in conjunction with the advice of relevant professionals where appropriate. BRIGHT HORIZONS PROVIDES THE INFORMATION ON THESE WEB PAGES \"AS IS\" AND WITHOUT ANY WARRANTIES, REPRESENTATIONS OR CONDITIONS, INCLUDING BUT NOT LIMITED TO ANY WARRANTY RESPECTING NON-INFRINGEMENT, AND THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. IN NO EVENT WILL BRIGHT HORIZONS OR ITS SUBSIDIARIES OR AFFILLIATES BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTIAL, CONSEQUENTIAL OR OTHER DAMAGES HOWEVER CAUSED WHETHER ARISING IN CONTRACT, TORT OR OTHERWISE, AND ARISING OUT OF OR IN CONNECTION WITH THE ACCESS TO, OR INABILITY TO ACCESS, THIS INTERNET SITE OR USE OF OR RELIANCE UPON THE INFORMATION CONTAINED ON THIS WEBSITE.

Bright Horizons will treat any personal information that you submit through this site in accordance with its Privacy Policy. Please click here to read and review our privacy policies and practices in detail. By using this site, communicating with Bright Horizons on this site, or providing information on this site, you hereby consent to this Terms of Use and the use of your personal information by Bright Horizons in accordance with our Privacy Policy.

This Internet site may provide links or references to other sites. Bright Horizons is not responsible for the content or privacy practices of these sites, and links to these sites are provided merely as a convenience. Bright Horizons shall not be liable for any damages or injuries arising from your use of these sites, nor should these links be construed as any endorsement, association or affiliation between the site and Bright Horizons. Bright Horizons Privacy Policy is applicable only while you are using this site.

Users of the site shall be responsible for the content and information provided by them while using this site, including its truthfulness and accuracy. 

 Bright Horizons Text Message (SMS) Communication Terms and Conditions 

 ﻿ 

 Our Solutions for Parents 

 Early Education & Preschool 

 Our Curriculum 

 College Coach for Families 

 Log in to My Services 

 Our Solutions for Employers 

 Bright Horizons Family Solutions 

 Back-Up Care 

 On-Site Child Care 

 College Coach 

 Care Advising 

 Enhanced Family Supports 

 Family Concierge 

 Global Services 

 Tuition Subsidies 

 Brokers and Consultants 
 EdAssist by Bright Horizons 

 Employee Education Solutions 

 Workforce Consulting 

 More from Bright Horizons 

 About Us 

 Careers 

 Newsroom 

 Locations 

 Global Locations 

 United Kingdom 

 The Netherlands 

 Investor Relations 

 Resource Library 

 Bright Horizons Foundation for Children 

 Corporate Responsibility 

 Our Solutions for Parents 

 Early Education & Preschool 

 Our Curriculum 

 College Coach for Families 

 Log in to My Services 

 Our Solutions for Employers 

 Bright Horizons Family Solutions 

 Back-Up Care 

 On-Site Child Care 

 College Coach 

 Care Advising 

 Enhanced Family Supports 

 Family Concierge 

 Global Services 

 Tuition Subsidies 

 Brokers and Consultants 

 EdAssist by Bright Horizons 

 Employee Education Solutions 

 Workforce Consulting 

 More from Bright Horizons 

 About Us 

 Careers 

 Newsroom 

 Locations 

 Global Locations 

 United Kingdom 

 The Netherlands 

 Investor Relations 

 Resource Library 

 Bright Horizons Foundation for Children 

 Corporate Responsibility 

 Connect with Bright Horizons

 Find a Center 
 Contact Support 

 © 2026 Bright Horizons Family Solutions. All Rights Reserved. | Privacy Notice 
 | Cookie Notice 
 | Acceptable Use Policy | Trademarks" 1 :add]
 ["brighthorizons-tos-1" :tos/source-url "https://www.brighthorizons.com/about/terms/about/terms-use" 1 :add]
 ["brighthorizons-tos-1" :tos/retrieved-at "2026-07-10T10:59:15Z" 1 :add]
 ["brighthorizons-tos-1" :tos/sha256 "2ba1af14a30ea328f6e698331a8d36c87b2476a9629e0d85290d1c267fb8c68c" 1 :add]
 ["brighthorizons-tos-1" :tos/doc-type :terms-of-service 1 :add]]
